{% extends 'todo/base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="flex justify-center">
  <div class="bg-[##202020] p-10 rounded-xl text-[#B9B9B9]">
    <h1 class="text-2xl font-bold mb-5">You have been logged out!</h1>
    <div>
        <a href="{% url 'login' %}">
            <input
                type="submit"
                name="login"
                value="Log back in"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            />
        </a>
</div>
{% endblock %}
