{% extends 'todo/base.html' %} 
{% block content %} {% load crispy_forms_tags %}

<div class="flex justify-center">
  <div class="bg-[##202020] p-10 rounded-xl text-[#B9B9B9]">
    <h1 class="text-2xl font-bold mb-5">Register</h1>
    {% inlcude 'todo/data_form.html' with submit='Register' %}
    <div class="text-xl font-bold my-4">
      Already signed up? <span class="text-orange-900 underline">
          <a href="{% url 'login' %}">Login</a>
      </span>
  </div>
  </div>
</div>
{% endblock %}
